<body>
    <div class="container">
        <div class="left-side">
            <div class="profile-text">
                <div class="bg-profile">
                    <img src="https://github.com/mammiepoko02/assets/blob/main/san_p.png?raw=true">
                </div>
            </div>
            <div class="contact-info">
                <h2 class="title">
                    <span class="icon">
                    </span>
                    <span>Contact</span>
                </h2>
                <ul>
                    <li>
                        <span class="icon"></span>
                        <span class="text">091 - 7515870</span>
                    </li>
                    <li>
                        <span class="icon"></span>
                        <span class="text">vongsombat_s&#64;silpakorn.edu</span>
                    </li>
                    <li>
                        <span class="icon"></span>
                        <a href="https://github.com/mammiepoko02" class="text" style="color: black;">&#64;mammiepoko</a>
                    </li>
                    <li><span class="icon"></span>
                        <span class="text">&#64;Santhiwan Vongsombat</span>
                    </li>
                </ul>
            </div>

            <div class="about-me">
                <h2 class="title">
                    <span class="icon">
                    </span>
                    <span>About me</span>
                </h2>
                <div class="text">
                    I’m 3rd-year Computer Science
                    student. I’m highly motivated and
                    ready to learn the new things. I have a
                    strong foundation in C programming,
                    Java, SQL, HTML, CSS and JavaScript . I
                    can work with others and have basic
                    knowledge of programming. I will do
                    my best and keep improving my skills
                    in the future.
                </div>
            </div>
            <div class="programming-skill">
                <h2 class="title">
                    <span class="icon">
                    </span>
                    <span>Programming Skill</span>
                </h2>
                <ul>
                    <li>
                        <span class="text">C</span>
                    </li>
                    <li>
                        <span class="text">Python</span>
                    </li>
                    <li>
                        <span class="text">Java</span>
                    </li>
                    <li>
                        <span class="text">Go</span>
                    </li>
                    <li>
                        <span class="text">HTML</span>
                    </li>
                    <li>
                        <span class="text">MySQL</span>
                    </li>
                    <li>
                        <span class="text">CSS</span>
                    </li>
                    <li>
                        <span class="text">PHP</span>
                    </li>
                    <li>
                        <span class="text">JavaScript</span>
                    </li>

                </ul>
            </div>
        </div>


        <div class="right-side">
            <div class="my-name">Santhiwan Vongsombat</div>
            <div class="dev">computer science</div>
            <h2 class="title2">Education</h2>
            <ul>
                <li class="text2">Silpakorn University
                    <span class="time-to">2022 - Present</span>
                    <div class="edu-com">Computer Science Major
                        <ul class="child-edu">
                            <li>Bachelor of Sciene</li>
                            <li>GPA 3.04</li>
                        </ul>
                    </div>
                </li>

            </ul>
            <ul>
                <li class="text2">Pibulwitthayalai School
                    <span class="time-to">2019 - 2021</span>
                    <div class="edu-com">Science and Mathematic</div>
                </li>
            </ul>

            <h2 Class="title2">Term Project</h2>

            <ul>
                <li class="text3">Operating System
                        <ul class="child-edu">
                            <li>Multithreaded download file with Java.</li>
                            <li>Zero copy with Java.</li>
                        </ul>
                </li>
            </ul>
            <ul>
                <li class="text3">Internet Of Things
                        <ul class="child-edu">
                            <li>Connect Wio board to your computer and cloud data to the web
                                in real time with C</li>
                        </ul>
                </li>
            </ul>
            <ul>
                <li class="text3">Web Application
                        <ul class="child-edu">
                            <li>Create web site with HTML, CSS, Javascript and PHP</li>
                        </ul>
                </li>
            </ul>
            <ul>
                <li class="text3">Human and Interactive
                        <ul class="child-edu">
                            <li>Create UX/UI Application for Food Court</li>
                        </ul>
                </li>
            </ul>
            <h2 class="title2">Experience</h2>
            <ul>
                <li class="text2">Lecturer Assitance
                    <div class="edu-com">Computing Programming I Class (Lab Boy)
                        <ul class="child-experience">
                            <li>At Silpakorn University ( 2023 )</li>
                        </ul>
                    </div>
                </li>

            </ul>
            <ul>
                <li class="text2">Markting workshop
                    <div class="edu-com">
                        <ul class="child-experience">
                            <li>At Silpakorn University ( 2023 )</li>
                        </ul>
                    </div>
                </li>
            </ul>

        </div>
    </div>

</body>